@model code.Models.Contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Tạo mới trang</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <fieldset>
                        <legend>Contact</legend>

                        @Html.HiddenFor(model => model.ID)
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ContactName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ContactName)
                            @Html.ValidationMessageFor(model => model.ContactName)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.PhoneNumber)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Yahoo)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Yahoo)
                            @Html.ValidationMessageFor(model => model.Yahoo)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Skype)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Skype)
                            @Html.ValidationMessageFor(model => model.Skype)
                        </div>

                        
                        <p>
                            <input type="submit" value="Lưu" />
                        </p>
                    </fieldset>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

               
            </div>
        </div>
    </div>
</div>
