<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <link rel="shortcut icon" href="/Content/images/khongxoa/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Content/images/khongxoa/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Website trung tâm dạy lái xe Thành Đạt">
    <meta name="keywords" content="trung tam, day, dao tao, lai xe, o to, xe may, thanh dat" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="Website trung tâm dạy lái xe Thành Đạt" />
    <meta property="og:image" content="@ViewBag.Image" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/css/responsive.css" rel="stylesheet" media="screen and (max-width:900px)" />*@
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Content/js/marquee.js"></script>
    <link href="~/Content/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var $_Tawk_API = {}, $_Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/54b774aeeebdcbe3571a7048/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--End of Tawk.to Script-->
    @*<div style="float: left; width: 120px; padding-top: 100px;" id="ads-left">
        <div style='position: fixed'>
            <img src="~/Content/images/banner/left.jpg" height="400" width="120" />
        </div>
    </div>  
    <div style="float: right; width: 120px; padding-top: 100px;" id="ads-right">
        <div style='position: fixed'>
            <img src="~/Content/images/banner/right.jpg" height="400" width="120" />
        </div>
    </div>*@
        
    
   
    
    <div id="container">
        <div id="header">
            @{Html.RenderAction("header", "Home");}
            @{Html.RenderAction("marquee", "Home");}
            <!-- begin navigation -->
            <!-- end navigation -->
        </div>

        @{Html.RenderAction("menu", "Home");}
        @{Html.RenderAction("slider", "Home");}
        <div id="" class="clearfix">
            <div class="side side-expanded">
                <div class="side-inner">
                    @{Html.RenderAction("moduleContact", "Home");}
                    <br />
                    @{Html.RenderAction("modulePost", "Home");}
                    <br />
                    <ul class="menu">
                        @*<li class="heading">Thống kê truy cập</li>
                        <li>
                            @{
                                HttpApplicationState application = HttpContext.Current.ApplicationInstance.Application;
                            }
                            <table>
                                <tr>
                                    <td rowspan="2" width="30%">
                                        <img src="~/Content/images/khongxoa/counting.png" />

                                    </td>
                                    <td>Đang truy cập: @application["DangTruyCap"].ToString()</td>
                                </tr>
                                
                                <tr>
                                    
                                    <td>Đã truy cập: @application["DaTruyCap"].ToString()</td>
                                </tr>
                            </table>
                        </li>*@
                        <li class="heading">Kết nối với chúng tôi</li>
                        <li style="text-align:center;">
                            <div class="fb-like-box" data-href="https://www.facebook.com/trungtamlaixetphcm" data-width="240" data-height="262" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div id="main">
                <div id="main-inner">
                    @RenderBody()
                </div>

            </div>

        </div>
        <div class="comment-box clearfix">
            <div class="comment-box-heading">
                <label><a href="~/y-kien-khach-hang">Ý kiến - Đánh giá - Góp ý</a></label>
            </div>

            <div class="comment-box-form">
                @{Html.RenderAction("comment", "Home");}
            </div>
            @{Html.RenderAction("ShowComment", "Home");}
        </div>
        @{Html.RenderAction("footer", "Home");}
    </div>

</body>
</html>
